* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background: #131419;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
:root {
  --dark-shadow: #131419;
  --box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.5);
  --gary-color: #555;
  --bg-color: #868686;
  --font-size: 20px;
  --border-radius: 10px;
  --font-weight: 600;
  --font-family: Arial, Helvetica, sans-serif;
  --letter-spacing: 1px;
  --color: rgb(255, 69, 0);
  --transition: all 0.4s ease;
  --white: #fff;
}
.container {
  width: 1100px;
  height: 650px;
  background: var(--dark-shadow);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}
.navbar {
  color: var(--white);
  float: right;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size);
  margin-top: -1rem;
}
ul li {
  display: inline-block;
  margin: 20px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
ul li:nth-child(5) {
  box-shadow: var(--box-shadow);
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: var(--border-radius);
  margin-left: 1rem;
}

ul li:nth-child(4) {
  box-shadow: var(--box-shadow);
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: var(--border-radius);
  margin-left: 1rem;
}
ul li:nth-child(3) {
  box-shadow: var(--box-shadow);
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: var(--border-radius);
  margin-left: 1rem;
}
ul li:nth-child(2) {
  box-shadow: var(--box-shadow);
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: var(--border-radius);
  margin-left: 1rem;
}
ul li:nth-child(1) {
  box-shadow: var(--box-shadow);
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  border-radius: var(--border-radius);
  margin-left: 1rem;
}
ul li:nth-child(5):hover {
  border-bottom: 5px solid var(--color);
}
ul li:nth-child(4):hover {
  border-bottom: 5px solid var(--color);
}
ul li:nth-child(3):hover {
  border-bottom: 5px solid var(--color);
}
ul li:nth-child(2):hover {
  border-bottom: 5px solid var(--color);
}
ul li:nth-child(1):hover {
  border-bottom: 5px solid var(--color);
}

.logo-for-landing-page {
  object-fit: cover;
  margin: 5px;
  margin-left: 5px;
}
img {
  border-radius: 50%;
  cursor: pointer;
}
/*navbar*/
.title {
  margin-left: 30px;
  margin-top: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-size: 50px;
  text-shadow: var(--box-shadow);
  mix-blend-mode: overlay;
  color: var(--white);
}
h4 {
  color: aqua;
  text-transform: capitalize;
  font-size: 30px;
  text-shadow: var(--box-shadow);
  mix-blend-mode: overlay;
  margin-left: 1rem;
}
.search-box {
  margin-left: 3rem;
}
input::placeholder {
  text-align: center;
  color: var(--bgcolor);
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
input {
  outline: none;
  border: none;
  background: #131419;
  box-shadow: var(--box-shadow);
  width: 350px;
  height: 50px;
  text-align: left;
  font-size: 23px;
  border-radius: 10px;
  color: var(--bg-color);
  text-align: center;
}
.icon-search-box-for-input {
  float: left;
  color: var(--bg-color);
  font-size: 20px;
  text-shadow: var(--box-shadow);
  margin-top: 12px;
  margin-left: 20px;
  cursor: pointer;
  margin-top: -38px;
  margin-left: 10px;
}
.icon-search-box-for-input:hover {
  color: var(--color);
}
.btn {
  margin-left: 7rem;
  margin-top: 45px;
}
button {
  outline: none;
  border: none;
  background: #131419;
  box-shadow: var(--box-shadow);
  color: var(--bg-color);
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
button:focus {
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
    inset 5px 5px 15px rgba(0, 0, 0, 0.5);
  transition: var(--transition);
}
.footer-for-website {
  text-align: center;
  font-size: 35px;
  overflow: hidden;
  margin-top: 1rem;
  margin-left: 7rem;
}
.fa-instagram:nth-child(2) {
  color: crimson;
  cursor: pointer;
  margin: 10px;
  box-shadow: var(--box-shadow);
  width: 70px;
  height: 50px;
}
.fa-instagram {
  padding: 10px;
  border-radius: 10px;
}
.fa-facebook {
  padding: 10px;
  border-radius: 10px;
}
.fa-telegram {
  padding: 10px;
  border-radius: 10px;
}
.fa-youtube {
  padding: 10px;
  border-radius: 10px;
}
.fa-github {
  padding: 10px;
  border-radius: 10px;
}
.fa-facebook:nth-child(4) {
  color: cornflowerblue;
  cursor: pointer;
  margin: 10px;
  box-shadow: var(--box-shadow);
  width: 70px;
  height: 50px;
}
.fa-youtube:nth-child(6) {
  color: crimson;
  cursor: pointer;
  margin: 10px;
  box-shadow: var(--box-shadow);
  width: 70px;
  height: 50px;
}
.fa-telegram:nth-child(8) {
  color: cornflowerblue;
  cursor: pointer;
  margin: 10px;
  box-shadow: var(--box-shadow);
  width: 70px;
  height: 50px;
}
.fa-github:nth-child(10) {
  color: cornflowerblue;
  cursor: pointer;
  margin: 10px;
  box-shadow: var(--box-shadow);
  width: 70px;
  height: 50px;
}
/*icon-and-title*/
.main-picture{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    margin-left: 15rem;
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 50%; 
    width: 460px;
    height: 460px;
    padding-top: 30px;
}
